<!DOCTYPE html>
<html>
<head>
  <title>Divebar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="container navbar">
	<div class="row">
		<div class="four columns">
			<h3>ALL WEEK</h3>
			<h6>12 NOON - SHOWTIME!</h6>
		</div>
		<div class="eight columns"></div>
	</div>
	<div class="row">
		<div class="four columns">
			<img class="logo" src="/assets/Main_01.gif" alt="">
		</div>
		<div class="eight columns">
			
		</div>
	</div>
	<div class="row">
		<div class="four columns">
		</div>
		<div class="eight columns"></div>
	</div>
</div>

<%= yield %>

<div class="container directory">
	<div class="row">
		<div class="two columns">
			<%= link_to "HOME", root_path %> 
		</div>
		<div class="two columns">
			<%= link_to "CALENDAR", calendar_path %>
		</div>
		<div class="two columns">
			<%= link_to "BOOKING", booking_path %>
		</div>
		<div class="two columns">
			<%= link_to "POLICIES", policies_path %>
		</div>
		<div class="two columns">
			<%= link_to "PHOTOS", photos_path %>
		</div>
		<div class="two columns">
			<%= link_to "MAP", map_path %>
		</div>
	</div>
</div>
</body>
</html>
